*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head {
    background-color:  #C0392B;
    width: 100%;
    height: 62px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.title {
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
}
.nav-link a{
    text-decoration: none;
    font-size: 16.1px;
    font-weight: 400;
    color:#ffffff;
    margin:0 34.8px;
}

.box-1 {
    height: 489.38px;
    background-color: #ffffff;
    padding-top: 62px; 
    display:flex;
    margin-left: 400px;
    margin-right: 400px;
    align-items: center;
    gap: 84px;
}
.content h1{
    height: 85px;
    font-size:37.7px;
    font-weight: 700;
    color:#333333;
}

.Description {
    margin-top: 16px;
    width: 345.81px;
    height: 53px;
}

.content p{
    font-size: 15.4px;
    font-weight: 400;
    color:#333333;
}

.box-2 {
    height: 448px;
    background-color: #ffffff;
    margin: 50px 410px;

}
.tit {
    text-align: center;
    color:#C0392B;
    font-size: 24px;
    font-weight: 700;
}
.flex-list {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.item {
    text-align: center;
    height: 280px;
    width:300px;
    margin-top: 41px;
    background-color:#FFF9F5;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.item:hover{
    transition: 0.5s;
    transform:translateY(-5px);
}

.item img{
    border-radius: 10px;
    

}

.name {
    font-size: 18.7px;
    font-weight: 700;
    margin-top: 19px;
    color:#333333;
}
.price {
    color:#C0392B;
    margin-top: 9px;
    font-size: 19.1px;
    font-weight: 700;
}

.foot {
    text-align: center;
    background-color: #2C2C2C;
    height: 78px;
}
.foot-1 {
    color:#ffffff;
    padding-top: 30px;
    font-size: 15.1px;
    font-weight: 400;
}


